.DS_Store
.vscode
*.pyc
data
notebooks/nkd_interview.ipynb
.env
notebooks/aether.ipynb
notebooks/aether_analysis.ipynb
notebooks/aether_data_cleaning.ipynb
notebooks/aether_analysis_item_2.ipynb
notebooks/aether_analysis_revenue_time.ipynb
notebooks/aether_analysis_item.ipynb
notebooks/aether_analysis_revenue_time.html
